h1{
    text-align: center;
    background-color: rgb(12, 48, 209);
    color:white;
}

h2{
    color: rgb(252, 13, 13);
}

h3{
    color: rgba(31, 21, 177, 0.836);
}


p {
    border-left: 6px solid red;
    background-color: rgb(20, 202, 235);
    font-size: large;
  }