<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <style>
        h1{
            text-align: center;
            background-color: rgb(12, 48, 209);
            color:white;
        }

        h2{
            color: rgb(252, 13, 13);
        }

        h3{
            color: rgba(31, 21, 177, 0.836);
        }

        p {
            border-left: 6px solid red;
            background-color: rgb(20, 202, 235);
            font-size: large;
          }
    </style>
</head>
<body style="background-color:powderblue;">
    <h1>Arrays</h1>
    <p>Arrays a kind of data structure that can store a fixed-size sequential collection of elements of the same type. An array is used to store a collection of data, but it is often more useful to think of an array as a collection of variables of the same type.
<br><br>
Instead of declaring individual variables, such as number0, number1, ..., and number99, you declare one array variable such as numbers and use numbers[0], numbers[1], and ..., numbers[99] to represent individual variables. A specific element in an array is accessed by an index.
<br><br>
All arrays consist of contiguous memory locations. The lowest address corresponds to the first element and the highest address to the last element
    </p>
    <h1>Declaring Arrays</h1>
    <p>
      To declare an array in C, a programmer specifies the type of the elements and the number of elements required by an array as follows −
<br>
type arrayName [ arraySize ];
<br>This is called a single-dimensional array.<br><br> The arraySize must be an integer constant greater than zero and type can be any valid C data type. For example, to declare a 10-element array called balance of type double, use this statement −
<br>
double balance[10];
<br>Here balance is a variable array which is sufficient to hold up to 10 double numbers.
    </p>
    <h1>Initializing Arrays</h1>
    <p>You can initialize an array in C either one by one or using a single statement as follows −
<br>
double balance[5] = {1000.0, 2.0, 3.4, 7.0, 50.0};
<br><br>The number of values between braces { } cannot be larger than the number of elements that we declare for the array between square brackets [ ].
<br><br>
If you omit the size of the array, an array just big enough to hold the initialization is created. Therefore, if you write −
<br>
double balance[] = {1000.0, 2.0, 3.4, 7.0, 50.0};
<br>You will create exactly the same array as you did in the previous example. Following is an example to assign a single element of the array −

<br>balance[4] = 50.0;
<br>The above statement assigns the 5th element in the array with a value of 50.0. All arrays have 0 as the index of their first element which is also called the base index and the last index of an array will be total size of the array minus 1.
    </p>
    <h1>Accessing Array Elements</h1>
    <p>An element is accessed by indexing the array name. This is done by placing the index of the element within square brackets after the name of the array. For example −
<br>
double salary = balance[9];
<br>The above statement will take the 10th element from the array and assign the value to salary variable.
    </p>

</body>
</html>