<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="css/style.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
        h1{
            text-align: center;
            background-color: rgb(12, 48, 209);
            color:white;
        }

        h2{
            color: rgb(252, 13, 13);
        }

        h3{
            color: rgba(31, 21, 177, 0.836);
        }

        p {
            border-left: 6px solid red;
            background-color: rgb(20, 202, 235);
            font-size: large;
          }
    </style>
</head>
<body style="background-color:powderblue;">
  <h1>Decision Making</h1>
  <p>
    Decision making structures require that the programmer specifies one or more conditions to be evaluated or tested by the program, along with a statement or statements to be executed if the condition is determined to be true, and optionally, other statements to be executed if the condition is determined to be false.
<br><br>
  C programming language assumes any non-zero and non-null values as true, and if it is either zero or null, then it is assumed as false value.
  </p>

  <h2>Statement & Description</h2>

  <h3>1. if statement</h3>
  <p>
  An if statement consists of a boolean expression followed by one or more statements.
  </p>
  <h3>2. if...else statement</h3>
  <p>
      An if statement can be followed by an optional else statement, which executes when the Boolean expression is false.
  </p>
  <h3>3. nested if statements</h3>
  <p>
    You can use one if or else if statement inside another if or else if statement(s).
  </p>
  <h3>4. switch statement</h3>
  <p>
      A switch statement allows a variable to be tested for equality against a list of values.
  </p>
  <h3>5. nested switch statements</h3>
  <p>
      You can use one switch statement inside another switch statement(s).
  </p>
  <h1>The ? : Operator</h1>
  <p>
    We have covered conditional operator ? : in the previous chapter which can be used to replace if...else statements. It has the following general form −
<br><br>
  Exp1 ? Exp2 : Exp3;<br>
  Where Exp1, Exp2, and Exp3 are expressions. Notice the use and placement of the colon.
<br><br>
  The value of a ? expression is determined like this −
<br>
  Exp1 is evaluated. If it is true, then Exp2 is evaluated and becomes the value of the entire ? expression.
<br>
  If Exp1 is false, then Exp3 is evaluated and its value becomes the value of the expression.
  </p>
</body>
<!-- </html><!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="style.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color:powderblue;">
    <h1>String</h1>
    <p>
        The Java String is immutable which means it cannot be changed. Whenever we change any string, a new
        instance is created. For mutable strings, you can use StringBuffer and StringBuilder classes.<br>

        We will discuss immutable string later. Let's first understand what String in Java is and how to
        create the String object.
    </p>

    <h2>Types Of String</h2>
    <h4>
        1. String1 <br>
        2. String2 <br>
    </h4>
    <h3>String1</h3>
    <p>
        The Java String is immutable which means it cannot be changed. Whenever we change any string, a new
        instance is created. For mutable strings, you can use StringBuffer and StringBuilder classes.<br>

        We will discuss immutable string later. Let's first understand what String in Java is and how to
        create the String object.
    </p>
    <h3>String2</h3>
    <p>
        The Java String is immutable which means it cannot be changed. Whenever we change any string, a new
        instance is created. For mutable strings, you can use StringBuffer and StringBuilder classes.<br>

        We will discuss immutable string later. Let's first understand what String in Java is and how to
        create the String object.
    </p>
</body>
</html> -->