<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>C Language</title>
    <style>
        a {
        text-decoration:none;
        }
    </style>
</head>
<body style="background:#8d8d8d;">
<div style="width:60%; margin-left:20%;background:#edf0ff;padding:30px;">
    <h1 style="text-align: center;color:blue;">Welcome to C Language Course</h1>
    <br>
    <br>
<h2>Contents</h2> <br>
<h4>1. <a href="/C-Introduction">Introduction</a></h4>
<h4>2. <a href="/C-DecisionMaking">Decision Making</a></h4>
<h4>3. <a href="/C-ProgramStructure">Program Structure</a></h4>
<h4>4. <a href="/C-Variable">Variable</a></h4>
<h4>5. <a href="/C-Function">Function</a></h4>
<h4>6. <a href="/C-Array">Array</a></h4>
<h4>7. <a href="/C-String">String</a></h4>
    <h4>8. <a href="/C-Quiz">Quiz</a></h4>
    </div>
</body>
</html>