<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="style.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h1{
            text-align: center;
            background-color: rgb(12, 48, 209);
            color:white;
        }

        h2{
            color: rgb(252, 13, 13);
        }

        h3{
            color: rgba(31, 21, 177, 0.836);
        }

        p {
            border-left: 6px solid red;
            background-color: rgb(20, 202, 235);
            font-size: large;
          }
    </style>
</head>
<body style="background-color:powderblue;">
    <h1>C++ Comments</h1>
    <p>
        Comments can be used to explain C++ code, and to make it more readable. It can also be used to prevent execution when testing alternative code. Comments can be singled-lined or multi-lined.
    </p>

    <h2>Single-line Comments :</h2>
    <h4>
        Single-line comments start with two forward slashes (//).<br>
        Any text between // and the end of the line is ignored by the compiler (will not be executed).<br>
        This example uses a single-line comment before a line of code:<br>
        <br>
        Example: <br>
        // This is a comment<br>
        cout << "Hello World!";<br>
    </h4>
    <h3>C++ Multi-line Comments :</h3>
    <p>
        Multi-line comments start with /* and ends with */.<br>
        <br>
        Any text between /* and */ will be ignored by the compiler : <br>
        <br>
        Example : <br>
        <br>
        /* The code below will print the words Hello World!<br>
        to the screen, and it is amazing */<br>
        cout << "Hello World!";<br>
    </p>
</html>