<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="style.css">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h1{
            text-align: center;
            background-color: rgb(12, 48, 209);
            color:white;
        }

        h2{
            color: rgb(252, 13, 13);
        }

        h3{
            color: rgba(31, 21, 177, 0.836);
        }

        p {
            border-left: 6px solid red;
            background-color: rgb(20, 202, 235);
            font-size: large;
          }
    </style>
</head>

<body style="background-color:powderblue;">
    <h1>C++ Data Type</h1>
    <p>
        As explained in the Variables chapter, a variable in C++ must be a specified data type:
    </p>

    <h2>Basic Data Types : </h2>
    <h4>
        int myNum = 5; // Integer (whole number)<br>
        float myFloatNum = 5.99; // Floating point number<br>
        double myDoubleNum = 9.98; // Floating point number<br>
        char myLetter = 'D'; // Character<br>
        bool myBoolean = true; // Boolean<br>
        string myText = "Hello"; // String<br>
    </h4>
    <h3>C++ Data StorAGE:</h3>
    <p>
        boolean 1 byte Stores true or false values<br>
        char 1 byte Stores a single character/letter/number, or ASCII valuess<br>
        int 2 or 4 bytes Stores whole numbers, without decimalss<br>
        float 4 bytes Stores fractional numbers, containing one or more decimals. Sufficient for storing 7 decimal
        digitss<br>
        double 8 bytes Stores fractional numbers, containing one or more decimals. Sufficient for storing 15 decimal
        digitss<br>
    </p>

</html>