<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="style.css">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h1{
            text-align: center;
            background-color: rgb(12, 48, 209);
            color:white;
        }

        h2{
            color: rgb(252, 13, 13);
        }

        h3{
            color: rgba(31, 21, 177, 0.836);
        }

        p {
            border-left: 6px solid red;
            background-color: rgb(20, 202, 235);
            font-size: large;
          }
    </style>
</head>

<body style="background-color:powderblue;">
    <h1>C++ User Input</h1>
    <p>
        You have already learned that cout is used to output (print) values. Now we will use cin to get user input.
        cin is a predefined variable that reads data from the keyboard with the extraction operator (>>).
    </p>

    <h2>Good To Know :</h2>
    <h4>
        <ul>
            <li>cout is pronounced "see-out". Used for output, and uses the insertion operator (<<). </li>
            <li>cin is pronounced "see-in". Used for input, and uses the extraction operator (>>) </li>
        </ul>
        <br>
        Example: <br>
        int x, y;<br>
        int sum;<br>
        cout << "Type a number: " ; cin>> x;<br>
            cout << "Type another number: " ; cin>> y;<br>
                sum = x + y;<br>
                cout << "Sum is: " << sum;<br>
    </h4>


</html>