<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="style.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h1{
            text-align: center;
            background-color: rgb(12, 48, 209);
            color:white;
        }

        h2{
            color: rgb(252, 13, 13);
        }

        h3{
            color: rgba(31, 21, 177, 0.836);
        }

        p {
            border-left: 6px solid red;
            background-color: rgb(20, 202, 235);
            font-size: large;
          }
    </style>
</head>
<body style="background-color:powderblue;">
    <h1>C++ Introduction</h1>
    <p>
        C++ is a cross-platform language that can be used to create high-performance applications.<br>

        C++ was developed by Bjarne Stroustrup, as an extension to the C language.<br>

        C++ gives programmers a high level of control over system resources and memory.<br>

        The language was updated 3 major times in 2011, 2014, and 2017 to C++11, C++14, and C++17.<br>
    </p>

    <h2>Why Use C++</h2>
    <h4>
        1. C++ is one of the world's most popular programming languages. <br>
        2. C++ can be found in today's operating systems, Graphical User Interfaces, and embedded systems. <br>
        3. C++ is an object-oriented programming language which gives a clear structure to programs and allows code to be reused, lowering development costs.<br>
    </h4>
</body>
</html>