<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="style.css">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h1{
            text-align: center;
            background-color: rgb(12, 48, 209);
            color:white;
        }

        h2{
            color: rgb(252, 13, 13);
        }

        h3{
            color: rgba(31, 21, 177, 0.836);
        }

        p {
            border-left: 6px solid red;
            background-color: rgb(20, 202, 235);
            font-size: large;
          }
    </style>
</head>

<body style="background-color:powderblue;">
    <h1>C++ Math</h1>
    <p>
        C++ has many functions that allows you to perform mathematical tasks on numbers.
    </p>

    <h2>Max and Min :</h2>
    <h4>
        The max(x,y) function can be used to find the highest value of x and y:<br>
        <br>
        Example: <br>
        cout << max(5, 10);<br>
    </h4>
    <h3>Other Math Functions:</h3>
    <p>
        A list of other popular Math functions (from the <cmath> library) can be found in the table below:<br>
            <br>
            Any text between /* and */ will be ignored by the compiler : <br>
            Function Description <br>
            abs(x) Returns the absolute value of x<br>
            acos(x) Returns the arccosine of x<br>
            asin(x) Returns the arcsine of x<br>
            atan(x) Returns the arctangent of x<br>
            cbrt(x) Returns the cube root of x<br>
            ceil(x) Returns the value of x rounded up to its nearest integer<br>
            cos(x) Returns the cosine of x<br>
            cosh(x) Returns the hyperbolic cosine of x<br>
            exp(x) Returns the value of Ex<br>
            expm1(x) Returns ex -1<br>
            fabs(x) Returns the absolute value of a floating x<br>
            fdim(x, y) Returns the positive difference between x and y <br>
            floor(x) Returns the value of x rounded down to its nearest integer<br>
            hypot(x, y) Returns sqrt(x2 +y2) without intermediate overflow or underflow<br>
            fma(x, y, z) Returns x*y+z without losing precision<br>
            fmax(x, y) Returns the highest value of a floating x and y<br>
            fmin(x, y) Returns the lowest value of a floating x and y<br>
            fmod(x, y) Returns the floating point remainder of x/y<br>
            pow(x, y) Returns the value of x to the power of y<br>
            sin(x) Returns the sine of x (x is in radians)<br>
            sinh(x) Returns the hyperbolic sine of a double value<br>
            tan(x) Returns the tangent of an angle<br>
            tanh(x) Returns the hyperbolic tangent of a double value<br>
    </p>

</html>