<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background: #407c60;
        }

        form {
            width: 60%;
            background: #02e6fd;
            margin-left: 20%;
            padding: 20px;
        }

        /* < !-- input:active {
            -->< !-- background: #d2ffc4;
            -->< !--
        } */

        -->p {
            background: white;
            padding: 5px;
            border-radius: 5px;
        }

        div {
            background: #00c4ff;
            border-radius: 10px;
            padding-bottom: 5px;
        }
    </style>
</head>

<body>


    <form action="/C++-Quiz" method="post">
        <h1 style="text-align:center;">C++ Quiz</h1>
        <div>
            <p>Q1. What is a correct syntax to output "Hello World" in C++?</p>
            <input type="radio" id="opt1" name="Q1" value="A">
            <label for="opt1"> Console.WriteLine("Hello World");</label><br>

            <input type="radio" id="opt2" name="Q1" value="B">
            <label for="opt2"> cout &lt;&lt; ("Hello World";)</label><br>

            <input type="radio" id="opt3" name="Q1" value="C">
            <label for="opt3"> System.out.println("Hello World");</label> <br>

            <input type="radio" id="opt4" name="Q1" value="D">
            <label for="opt4"> print ("Hello World");</label>
            <br>
        </div>
        <div>
            <p>Q2. Which data type is used to create a variable that should store text? </p>
            <input type="radio" id="opt5" name="Q2" value="A">
            <label for="opt5"> string</label><br>

            <input type="radio" id="opt6" name="Q2" value="B">
            <label for="opt6"> Txt</label><br>

            <input type="radio" id="opt7" name="Q2" value="C">
            <label for="opt7"> String</label> <br>

            <input type="radio" id="opt8" name="Q2" value="D">
            <label for="opt8">myString</label>
        </div>
        <div>
            <p>Q3. How do you create a variable with the numeric value 5?</p>
            <input type="radio" id="opt9" name="Q3" value="A">
            <label for="opt9"> num x = 5</label><br>

            <input type="radio" id="opt10" name="Q3" value="B">
            <label for="opt10"> int x = 5;</label><br>

            <input type="radio" id="opt11" name="Q3" value="C">
            <label for="opt11"> double x = 5;</label> <br>

            <input type="radio" id="opt12" name="Q3" value="D">
            <label for="opt12"> x = 5;</label>
        </div>
        <div>
            <p>Q4. How do you insert COMMENTS in C++ code?</p>
            <input type="radio" id="opt13" name="Q4" value="A">
            <label for="opt13"> // This is a comment</label><br>

            <input type="radio" id="opt14" name="Q4" value="B">
            <label for="opt14"> # This is a comment</label><br>

            <input type="radio" id="opt15" name="Q4" value="C">
            <label for="opt15"> /* This is a comment</label> <br>
        </div>
        <div>
            <p>Q5.How do you create a variable with the floating number 2.8? </p>
            <input type="radio" id="opt16" name="Q5" value="A">
            <label for="opt16"> double x = 2.8;</label><br>

            <input type="radio" id="opt17" name="Q5" value="B">
            <label for="opt17"> x = 2.8;</label><br>

            <input type="radio" id="opt18" name="Q5" value="C">
            <label for="opt18"> byte x = 2.8</label> <br>

            <input type="radio" id="opt19" name="Q5" value="D">
            <label for="opt19"> int x = 2.8;</label>
        </div>
        <div>
            <p>Q6. Which operator is used to add together two values? </p>
            <input type="radio" id="opt20" name="Q6" value="A">
            <label for="opt20"> The * sign</label><br>

            <input type="radio" id="opt21" name="Q6" value="B">
            <label for="opt21"> The + sign</label><br>

            <input type="radio" id="opt22" name="Q6" value="C">
            <label for="opt22"> The &amp; sign</label> <br>

        </div>
        <div>
            <p>Q7. Which method can be used to find the length of a string? </p>
            <input type="radio" id="opt23" name="Q7" value="A">
            <label for="opt23"> len()</label><br>

            <input type="radio" id="opt24" name="Q7" value="B">
            <label for="opt24"> getLength()</label><br>

            <input type="radio" id="opt25" name="Q7" value="C">
            <label for="opt25"> length()</label> <br>

            <input type="radio" id="opt26" name="Q7" value="D">
            <label for="opt26"> getSize()</label>
        </div>
        <div>
            <p>Q8. Which header file lets us work with input and output objects? </p>
            <input type="radio" id="opt27" name="Q8" value="A">
            <label for="opt27"> #include &lt;iostream&gt;</label><br>

            <input type="radio" id="opt28" name="Q8" value="B">
            <label for="opt28"> #include &lt;iosstring&gt;</label><br>

            <input type="radio" id="opt29" name="Q8" value="C">
            <label for="opt29"> #include &lt;inputstr&gt;</label> <br>

            <input type="radio" id="opt30" name="Q8" value="C">
            <label for="opt30"> #include &lt;stream&gt;</label> <br>
        </div>
        <div>
            <p>Q9. C++ is an alias of C# ? </p>
            <input type="radio" id="opt31" name="Q9" value="A">
            <label for="opt31"> False</label><br>

            <input type="radio" id="opt32" name="Q9" value="B">
            <label for="opt32"> True</label><br>
        </div>
        <div>
            <p>Q10. The value of a string variable can be surrounded by single quotes. </p>
            <input type="radio" id="opt33" name="Q10" value="A">
            <label for="opt33"> False</label><br>

            <input type="radio" id="opt34" name="Q10" value="B">
            <label for="opt34"> True</label><br>
        </div>
        <br><br>
        <input type="submit" value="Submit">

    </form>

</body>

</html>