<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="style.css">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h1{
            text-align: center;
            background-color: rgb(12, 48, 209);
            color:white;
        }

        h2{
            color: rgb(252, 13, 13);
        }

        h3{
            color: rgba(31, 21, 177, 0.836);
        }

        p {
            border-left: 6px solid red;
            background-color: rgb(20, 202, 235);
            font-size: large;
          }
    </style>
</head>

<body style="background-color:powderblue;">
    <h1>C++ String</h1>
    <p>
        Strings are used for storing text.

        A string variable contains a collection of characters surrounded by double quotes:
    </p>

    <h2>String :</h2>
    <h4>
        To use strings, you must include an additional header file in the source code, the <string> library:
            Example: <br>
            // Include the string library<br>
            #include <string> <br>
                // Create a string variable<br>
                string greeting = "Hello";<br>
    </h4>

</html>