<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="style.css">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h1{
            text-align: center;
            background-color: rgb(12, 48, 209);
            color:white;
        }

        h2{
            color: rgb(252, 13, 13);
        }

        h3{
            color: rgba(31, 21, 177, 0.836);
        }

        p {
            border-left: 6px solid red;
            background-color: rgb(20, 202, 235);
            font-size: large;
          }
    </style>
</head>

<body style="background-color:powderblue;">
    <h1>C++ Switch</h1>
    <p>
        Use the switch statement to select one of many code blocks to be executed.
    </p>

    <h2>Syntax :</h2>
    <h4>
        Syntax<br>
        switch(expression) {<br>
        case x:<br>
        // code block<br>
        break;<br>
        case y:<br>
        // code block<br>
        break;<br>
        default:<br>
        // code block<br>
        }<br>
    </h4>
    <br>
    <h3>This is how it works:</h3>
    <p>
    <ol>
        <li>The switch expression is evaluated once
        </li>
        <li>
            The value of the expression is compared with the values of each case
        </li>
        <li>
            If there is a match, the associated block of code is executed
        </li>
        <li>
            The break and default keywords are optional, and will be described later in this chapter
        </li>
    </ol>
    </p>
</body>
</html>