<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="style.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h1{
            text-align: center;
            background-color: rgb(12, 48, 209);
            color:white;
        }

        h2{
            color: rgb(252, 13, 13);
        }

        h3{
            color: rgba(31, 21, 177, 0.836);
        }

        p {
            border-left: 6px solid red;
            background-color: rgb(20, 202, 235);
            font-size: large;
          }
    </style>
</head>
<body style="background-color:powderblue;">
    <h1>C++ Variables</h1>
    <p>
        Variables are containers for storing data values.
    </p>
    <h4>
        In C++, there are different types of variables (defined with different keywords), <br>
        <br>
    </h4>
    <p>
        For example:<br>
        <br>
        int - stores integers (whole numbers), without decimals, such as 123 or -123<br>
        double - stores floating point numbers, with decimals, such as 19.99 or -19.99<br>
        char - stores single characters, such as 'a' or 'B'. Char values are surrounded by single quotes<br>
        string - stores text, such as "Hello World". String values are surrounded by double quotes<br>
        bool - stores values with two states: true or false<br>
    </p>
    <h3>Declaring (Creating) Variables</h3>
    <p>
        To create a variable, specify the type and assign it a value:<br>
        <br>
        Syntax <br>
        type variableName = value; <br>
        <br>
        Where type is one of C++ types (such as int), and variableName is the name of the variable (such as x or myName). The equal sign is used to assign values to the variable.
        <br>
        To create a variable that should store a number, look at the following example:
    </p>
    <h3>Example :</h3>
    <p>
        Create a variable called myNum of type int and assign it the value 15:<br>
        <br>
        int myNum = 15;<br>
        cout << myNum;<br>
    </p>
</body>
</html>