<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python</title>
    <style>
        a {
        text-decoration:none;
        }
    </style>
</head>
<body style="background:#8d8d8d;">
<div style="width:60%; margin-left:20%;background:#edf0ff;padding:30px;">
    <h1 style="text-align: center;color:blue;">Welcome to Python Course</h1>
<br>
    <br>
<h2>Contents</h2> <br>
<h4>1. <a href="/Python-Array">Array in Python</a></h4>
<h4>2. <a href="/Python-Dictionary">Dictionary in Python</a></h4>
<h4>3. <a href="/Python-Function">Function in Python</a></h4>
<h4>4. <a href="/Python-Lambda">Lambda in Python</a></h4>
<h4>5. <a href="/Python-List">List in Python</a></h4>
<h4>6. <a href="/Python-Set">Set in Python</a></h4>
<h4>7. <a href="/Python-String">String in Python</a></h4>
    <h4>8. <a href="/Python-Tuple">Tuple in Python</a></h4>
    <h4>9. <a href="/Python-Quiz">Quiz </a></h4>
    </div>
</body>
</html>